html{
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #C2D5DB;
    margin: 0 0 0 0;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

main {
    display: flex;
    align-items: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5%;
    width: 100%;
}

.left {
    flex-direction: column;
    max-width: 50%;
    float: left;
    display: flex;
    flex: 1 1 0px;
    padding: 5% 0 5% 10%;
}

.middle {
    align-items: center;
    justify-content: center;
}

.right {
    flex-direction: column;
    max-width: 50%;
    display: flex;
    align-items: center;
    flex: 1 1 0px;
    padding: 5% 10% 5% 0;
}

#healthy-ocean, img{
    height: 250px;
}