html{
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #C2D5DB;
    margin: 0 0 0 0;
    color: white;
}

a {
    color: white;
}

p {
    text-align: justify;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: #a6cdda;
}

.rij {
    margin-top: 5%;
    border-radius: 50%;
    background-color: #a6cdda;
    flex-direction: row;
    display: flex;
    align-items: center;
    padding: 10%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5%;
    width: 100%;
    margin-top: 3%;
    padding: 1% 0 1% 0;
    background-color: #a6cdda;
}

.logo{
    height: 250px;
}

#titel {
    align-items: center;
    justify-content: center;
}

#nav {
    align-items: center;
    justify-content: center;
}

#nav a {
    margin-left: 20px;
}

#nav a:first-child {
    margin-left: 0;
}

.left {
    max-width: 50%;
    float: left;
    display: flex;
    flex: 1 1 0px;
    padding-left: 10%;
}

.middle {
    align-items: center;
    justify-content: center;
}

.right {
    flex-direction: column;
    max-width: 50%;
    display: flex;
    flex: 1 1 0px;
    padding-right: 10%;
}

.tekst {
    flex-direction: column;
}

.afbeelding {
    align-items: center;
    justify-content: center;
}

.side-image {
    border-radius: 15%;
    width: 90%; 
    height: 500px; 
    object-fit: cover;
}

@media screen and (max-width: 600px) {

    .rij {
        display: block;
        border-radius: 0%;
    }

    
    .rij:nth-of-type(2), 
    .rij:nth-of-type(4) {
        display: flex;
        flex-direction: column;
    }

    .rij:nth-of-type(2) .left, 
    .rij:nth-of-type(4) .left {
        order: 2;
        max-width: none;
        padding-left: 0;
    }

    .rij:nth-of-type(2) .right, 
    .rij:nth-of-type(4) .right {
        order: 1;
        max-width: none;
        padding-right: 0;
    }

    .left {
        max-width: none;
    }

    .right {
        max-width: none;
        padding-right: 0px;
    }

    .tekst {
        padding-right: 7% !important;
        padding-left: 7%;
    }

    .afbeelding {
        padding-left: 0%;
        width: 100%;
    }

    .side-image, img{
        width: 90%;
    }
    
}
